main section{
    padding-bottom: 2rem;
}
details {
    padding-bottom: 0.5em;
}
details p {
    padding-bottom: 1em;
} 


/*
h1, h2, h3 {
    font-family: 'Domine', serif;
    color: #695BA0;
    line-height: 1.45;
}*/