body {

    background-image: url(../images/home1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
h1 {
    color: white;
    font-size: 6em;
}

main {

    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0;
    padding: 0;
}
footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

   
  }
* {

    color:white;
    text-align: center;

}
#buttons a{
    border: solid #FFF 3px; 
    border-radius: 25px;
    padding: 10px;
}

main p{
    padding: 5px;
}
main section{
    padding-top: 70px;
}

h1 {
    margin-bottom: 0px;
    padding: 20px;
    animation: fade 7s;
    -webkit-animation: fade 7s;
    -moz-animation: fade 7s;
    -o-animation: fade 7s;
    -ms-animation: fade 7s;
}

@keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-ms-keyframes fade {
0% { opacity: 0; }
100% { opacity: 1; }
}